<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/lightbox/css/lightbox.min.css">
</head>
</head>
<body>
{% include "header.html" %}

<h1>Gallery</h1>
{% for filename, ext in pics.items() %}
<a href="/static/pics/{{ filename }}.{{ ext }}" data-lightbox="gallery">
    <img src="/static/tmbs/{{ filename }}-tmb.{{ ext }}" alt="" loading="lazy" style="width: 290px; height: 232px; margin: 10px; border-radius: 8px;">
</a>
{% endfor %}
<br><br>



<script src="/static/lightbox/js/lightbox-plus-jquery.min.js"></script>


<script>
    console.log(lightbox)
    lightbox.option({
      'resizeDuration': 200,
      'wrapAround': true,
      'imageFadeDuration': 300,
      'disableScrolling': true,
      'alwaysShowNavOnTouchDevices': true,
    })
</script>


</body>
</html>
