<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}/?id=1ds44frr4f555fff4ff555ds1">
    <link rel="icon" href="{{ url_for('static', path='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/lightbox/css/lightbox.min.css') }}">
</head>
</head>
<body>
{% include "header.html" %}

<h1>Gallery</h1>
{% for pic in pics %}
<a class="example-image-link" href="http://{{ hostname }}/static/{{ pic }}" data-lightbox="example-1"><img src="http://{{ hostname }}/static/{{ pic }}" height="300"></a>
{% endfor %}
<br><br>



<script src="{{ url_for('static', path='lightbox/js/lightbox-plus-jquery.min.js') }}"></script>

</body>
</html>
