<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/lightbox/css/lightbox.min.css">
</head>
</head>
<body>
{% include "header.html" %}

<h1>Gallery</h1>
{% for pic in pics %}
<a class="example-image-link" href="/static/{{ pic }}" data-lightbox="example-1"><img src="/static/{{ pic }}" height="300"></a>
{% endfor %}
<br><br>



<script src="/static/lightbox/js/lightbox-plus-jquery.min.js"></script>

</body>
</html>
